<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
	default-init-method="myInit" default-destroy-method="myDestroy">
	<bean id="triangle" class="main.springs.Triangle">
		<property name="type" value="Equilateral"></property>
		<constructor-arg index="0" type="java.lang.String"
			value="Equilateral" />
		<constructor-arg index="1" type="java.lang.String"
			value="180" />
	</bean>
	<bean id="rectangle" class="main.springs.Rectangle">
		<property name="pointOne" ref="pointOne" />
		<property name="pointTwo">
			<bean class="main.springs.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointThree">
			<bean class="main.springs.Point">
				<property name="x" value="20" />
				<property name="y" value="20" />
			</bean>
		</property>
		<property name="pointFour">
			<bean class="main.springs.Point">
				<property name="x" value="0" />
				<property name="y" value="20" />
			</bean>
		</property>
	</bean>
	<bean id="circle" class="main.springs.Circle">
		<property name="centrePoint" ref="pointOne" />
		<property name="radius" value="5.34" />
	</bean>
	<bean id="pointOne" class="main.springs.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="parentLine" class="main.class.Line" abstract="true">
		<property name="pointList">
			<list>
				<ref bean="pointOne"></ref>
			</list>
		</property>
	</bean>
	<bean id="line" class="main.springs.Line" parent="parentLine">
		<property name="pointList">
			<list merge="true">
				<bean class="main.springs.Point">
					<property name="x" value="0" />
					<property name="y" value="20" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="employeeInfo" class="main.springs.EmployeeInfo">
		<property name="employeeMap">
			<map>
				<entry key="6100" value="Sanjay" />
				<entry key="6101" value="Santhosh" />
			</map>
		</property>
	</bean>
</beans>